@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root{
  --primary-color: #D62839;
  --dark-text: #A6B07E;
  --off-white: #f1f5f9;
}

body{
  font-family: 'Caveat', cursive;
  margin: 0 auto;
  font-size: 1.4rem;
  max-width: 95%;
  width: 100%;
}

hr {
  margin: 1.5rem 0;
}

/*------- header --------*/

.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 300px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  color: var(--dark-text);
  padding-top: 1rem;
}

.hero .heading-inverted {
  color: var(--primary-color)
}

/*------ textarea --------*/

textarea {
  display: block;
}

/*------- button --------*/

button {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  border: none;
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 1.4rem;
  font-weight: bolder;
}

/*------- output --------*/

.output {
  display: block;
}
